/* font-family: 'Abril Fatface', cursive;
font-family: 'Gayathri', sans-serif; */
#savebutton{
  margin-right: 20px;
}

.bigbrand{
  font-size: 1.5em;
  color: black !important;
}

.nav-text{
  color: black !important;
}

.techfont{
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  color: black;
}

.date{
  color: grey;
}

.post_lists a{
  color: black !important;
  font-family: 'Gayathri', sans-serif;
}

.posttitle{
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
}

.postcontent{
  font-family: 'Gayathri', sans-serif;
  font-size: 1.2em;
}

.btn-comment{
float: right; 
}

.format-body{
  background: rgb(135, 209, 232);
}

.login-content{
  margin-left: 50%;
  margin-top: 20%;
  margin-right: 0;
}

.content{
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  width: 90%;
  height: 100%;
}

.format-content{
  padding: 1.1em;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  min-height: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

h2, h5{
  font-family: 'Gayathri', sans-serif;
}

.floatclass{
  float: right;
  width: 50%;
}

.jumbocontent{
  margin-top: 30px;
  width: 150%;
}

/* COLOR CHANGER */

.loader{
  filter:hue-rotate(0deg);
  background:linear-gradient(45deg,#0f8,#08f);
  animation:hue 10000ms infinite linear;
}

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}
